@import url(https://db.onlinewebfonts.com/c/56d3addcc26c615d76f21e7e540c2647?family=Carol+Gothic);

.admin-dashboard-admin-dashboard {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.admin-dashboard-rectangle155 {
  top: 0px;
  left: -1px;
  width: 282px;
  height: 1024px;
  position: absolute;
}
.admin-dashboard-group18 {
  top: 20px;
  left: -1px;
  width: 1265px;
  height: 983.4418334960938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-dashboard-image5 {
  top: 971px;
  left: 14px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.admin-dashboard-spcnremovebgpreview14 {
  top: 0px;
  left: 11px;
  width: 46px;
  height: 45px;
  position: absolute;
}
.admin-dashboard-spcnremovebgpreview15 {
  top: 0px;
  left: 478px;
  width: 787px;
  height: 773px;
  position: absolute;
}
.admin-dashboard-text {
  top: 10px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Medium;
  text-align: left;
  font-family: "Carol Gothic";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-image8 {
  top: 930px;
  left: 14px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.admin-dashboard-rectangle156 {
  top: 110px;
  left: 0px;
  width: 282px;
  height: 30px;
  position: absolute;
}
.admin-dashboard-rectangle157 {
  top: 157px;
  left: 0px;
  width: 282px;
  height: 28px;
  position: absolute;
}
.admin-dashboard-rectangle158 {
  top: 202px;
  left: 0px;
  width: 282px;
  height: 29px;
  position: absolute;
}
.admin-dashboard-text02 {
  top: 116px;
  left: 98px;
  color: rgba(74, 3, 11, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-text04 {
  top: 163px;
  left: 93px;
  color: rgba(74, 3, 11, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-text06 {
  top: 208px;
  left: 69px;
  color: rgba(74, 3, 11, 1);
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-text08 {
  top: 973.72314453125px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.admin-dashboard-text10 {
  top: 954.861572265625px;
  left: 34.292236328125px;
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.admin-dashboard-image6 {
  top: 952px;
  left: 14px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.admin-dashboard-text12 {
  top: 935px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-group17 {
  top: 834px;
  left: 362px;
  width: 1000px;
  height: 124.7349853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-dashboard-cba1 {
  top: 12px;
  left: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.admin-dashboard-coc1 {
  top: 12px;
  left: 180px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.admin-dashboard-cas1 {
  top: 0px;
  left: 540px;
  width: 100px;
  height: 125px;
  position: absolute;
}
.admin-dashboard-ccs1 {
  top: 12px;
  left: 360px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.admin-dashboard-coe1 {
  top: 12px;
  left: 720px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.admin-dashboard-ced1 {
  top: 10px;
  left: 900px;
  width: 100px;
  height: 102px;
  position: absolute;
}
.admin-dashboard-rectangle164 {
  top: 1024.4193115234375px;
  left: 1217px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.admin-dashboard-rectangle165 {
  top: 1025.4193115234375px;
  left: 506.0211486816406px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.admin-dashboard-text14 {
  top: 896px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-dashboard-rectangle160 {
  top: -22px;
  left: 478px;
  width: 156px;
  height: 306px;
  position: absolute;
}
html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: black;
}
* {
     box-sizing: border-box;
     border-width: 0;
     border-style: solid;
}
p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {
     margin: 0;
     padding: 0;
}
button {
     background-color: transparent;
}
button,input,optgroup,select,textarea {
     font-family: inherit;
     font-size: 100%;
     line-height: 1.15;
     margin: 0;
}
button,select {
     text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {
     -webkit-appearance: button;
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
}
button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {
     outline: 1px dotted ButtonText;
}
a {
     color: inherit;
     text-decoration: inherit;
}
input {
     padding: 2px 4px;
}
img {
     display: block;
}
html {
     scroll-behavior: smooth 
        font-family: Inter;
        font-size: 16px;
}
.button-click-effect {
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.button-click-active {
  transform: scale(0.95);
  background-color: #e2e2e2;
}
/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
body.dark-mode a {
  color: #9A9A9A;
}
/* Floating Button Styles */
#theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
body.dark-mode #theme-toggle-btn {
  background-color: #333;
  color: #fff;
}