body{
    margin: 0;
    background-color: rgb(217, 217, 217);
    position: relative;
}

.rectangle{
    background-color: rgb(74, 3, 11);
    width:100%;
    height: 40px;
}  

.attendance{
    margin-top: 30px;
    display: flex;
    margin-left: 10%;
    font-family: Arial;
}

.attendance input{
    margin-top: 22px;
    font-style: italic;
    height: 30px;
    margin-right: 25px;
}

.attendance span {
    font-family: Arial;
    font-size: 18px;
    margin-top: 31px;
    margin-right: 8px;
}
.datetoday {
    margin-top: 31px;
    margin-left: 120px;
}
.button {
    margin-top: 22px;
    height: 30px;
    width: 75px;
    font-weight: 10px;
    border-radius: 3px;
    background-color: rgb(198, 170, 170);
}
.button:hover {
    background-color: rgb(190, 95, 95);
    cursor: pointer;
}

/*table*/
table {
    align-items: center;
    border-collapse: collapse;
}
table.center {
    margin-top: 50px;
    margin-left: auto; 
    margin-right: auto;
  }
th {
    border: 1px solid #000000;
    padding: 6px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: rgb(198, 170, 170);
}

p {
    display: flex;
    position: absolute;
    margin-top: 35%;
    margin-left: 3%;
}
.button1 {
    margin-top: 35%;
    margin-left: 88%;
    height: 30px;
    width: 70px;
    font-weight: 8px;
    border-radius: 3px;
    background-color: rgb(198, 170, 170);
}
.button1:hover {
    background-color: rgb(190, 95, 95);
    cursor: pointer;
}

.button2 {
    margin-top: 35%;
    height: 30px;
    width: 70px;
    font-weight: 8px;
    border-radius: 3px;
    background-color: rgb(198, 170, 170);
}
.button2:hover {
    background-color: rgb(190, 95, 95);
    cursor: pointer;
}