*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

nav{
    background-color: maroon;
    height: 50px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    
}
.mainlogo{
    width: 50px;
    height: 50px;
}
#title{
    padding-left: 20px;
    font-size: xx-large;
    color: white;
}
.row01{
    display: flex;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}
#image{
    width: 150px;
    height: 150px;
    display: flex;
    align-self: center;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
}
form{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: maroon;
    border: 1px solid black;
    box-shadow: 0 14px 28px rgba(0,0,0,1.22), 
                0 10px 10px rgba(0,0,0,1.22);
    border-radius: 10px;
}
label{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
input{
    width: 355px;
    height: 30px;
    margin: 10px;
    font-size: large;
    padding-left: 5px;
    align-self: center;
}
.btn {
	border: 1px solid white;
	background-color: maroon;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width: 350px;
    height: 40px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 15px;
}

button:active {
	transform: scale(0.95);
}
#havepass{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
}