/* Gatepass1 Style Css */
:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .Heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  
/* Gatepass1 Main Css */
.gate-pass-studentconfirm-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.gate-pass-studentconfirm-gate-pass-studentconfirm {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(93, 29, 36, 1);
}
.gate-pass-studentconfirm-rectangle75 {
    top: 108px;
    left: 192px;
    width: 395px;
    height: 342px;
    position: absolute;
    box-sizing: content-box;
    border-radius: 4.545806407928467px;
}
.gate-pass-studentconfirm-rectangle11 {
    top: 50px;
    left: 694px;
    width: 727px;
    height: 673px;
    position: absolute;
    border-style: solid;
    border-radius: 4.550000190734863px;
}
.gate-pass-studentconfirm-rectangle72 {
    top: 220px;
    left: 976px;
    width: 160px;
    height: 251px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 19.394813537597656px;
}
.gate-pass-studentconfirm-rectangle74 {
    top: 377px;
    left: 335px;
    width: 100px;
    height: 27px;
    position: absolute;
    border-radius: 9px;
}
.gate-pass-studentconfirm-text {
    top: 100px;
    left: 918px;
    color: rgba(0, 0, 0, 0.8999999761581421);
    width: 278px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 29.09221839904785px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-studentconfirm-text1 {
    top: 500px;
    left: 850px;
    color: rgba(22, 189, 68, 1);
    width: 423px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 29.09221839904785px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-studentconfirm-text3 {
    top: 385px;
    left: 316px;
    color: rgba(255, 255, 255, 1);
    width: 137px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 10px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-studentconfirm-line20 {
    top: 180px;
    left: 719px;
    height: 3.7px;
    margin: auto;
    position: absolute;
}
.gate-pass-studentconfirm-text5 {
    top: 565px;
    left: 920px;
    color: rgba(0, 0, 0, 1);
    width: 287px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-studentconfirm-image1 {
    top: 140px;
    left: 224px;
    width: 320px;
    height: 220px;
    position: absolute;
}
.gate-pass-studentconfirm-spclogo3 {
    top: 450px;
    left: 260px;
    width: 250px;
    height: 250px;
    position: absolute;
  }
.gate-pass-studentconfirm-text7 {
    top: 50px;
    left: 150px;
    color: rgb(255, 255, 255);
    width: 495px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: "Goblin One";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}