/* Gatepass Styles Css */
:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-space-space-oneandhalfunits: 24px;
  }
  
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .Heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  
/* Gatepass Main CSS */
.gate-pass-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.gate-pass-gate-pass {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(93, 29, 36, 1);
}
.gate-pass-rectangle75 {
    top: 108px;
    left: 192px;
    width: 395px;
    height: 342px;
    position: absolute;
    border-radius: 4.545806407928467px;
}
.gate-pass-rectangle73 {
    top: 170px;
    left: 295px;
    width: 188px;
    height: 163px;
    position: absolute;
    box-sizing: content-box;
    border-radius: 2.160919427871704px;
}
.gate-pass-rectangle11 {
  top: 30px;
  left: 680px;
  width: 750px;
  height: 700px;
  position: absolute;
  border-radius: 4.550000190734863px;
}
.gate-pass-text {
    top: 50px;
    left: 150px;
    color: rgb(255, 255, 255);
    width: 495px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: "Goblin One";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-rectangle72 {
  top: 230px;
  left: 928px;
  width: 259px;
  height: 305px;
  position: absolute;
  border-color: rgb(138, 102, 102);
  border-style: solid;
  border-radius: 19px;
}
.gate-pass-rectangle74 {
    top: 370px;
    left: 317px;
    width: 145px;
    height: 27px;
    position: absolute;
    border-radius: 9px;
}
.gate-pass-vector {
    top: 315px;
    left: 999px;
    width: 126px;
    height: 135px;
    position: absolute;
}
.gate-pass-text1 {
    top: 100px;
    left: 918px;
    color: rgba(0, 0, 0, 0.8999999761581421);
    width: 278px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 29.09221839904785px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-text3 {
    top: 550px;
    left: 850px;
    color: rgba(158, 158, 158, 1);
    width: 423px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 29.09221839904785px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-text5 {
    top: 377px;
    left: 321px;
    color: rgba(255, 255, 255, 1);
    width: 137px;
    height: auto;
    opacity: 0.9;
    position: absolute;
    font-size: 10px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-line20 {
    top: 195px;
    left: 719px;
    height: 4.6px;
    margin: auto;
    position: absolute;
}
.gate-pass-text7 {
    top: 599px;
    left: 943px;
    color: rgba(0, 0, 0, 0.800000011920929);
    width: 235px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Goblin One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.gate-pass-spclogo4 {
  top: 450px;
  left: 270px;
  width: 250px;
  height: 250px;
  position: absolute;
}