.gate-pass-studentconfirm-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gate-pass-studentconfirm-gate-pass-studentconfirm {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(93, 29, 36, 1);
}
.gate-pass-studentconfirm-rectangle75 {
  top: 198px;
  left: 221px;
  width: 395px;
  height: 342px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 4.545806407928467px;
}
.gate-pass-studentconfirm-rectangle11 {
  top: 198px;
  left: 723px;
  width: 727px;
  height: 673px;
  position: absolute;
  border-radius: 4.550000190734863px;
}
.gate-pass-studentconfirm-rectangle72 {
  top: 374px;
  left: 1007px;
  width: 160px;
  height: 251px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19.394813537597656px;
}
.gate-pass-studentconfirm-rectangle74 {
  top: 497px;
  left: 369px;
  width: 100px;
  height: 27px;
  position: absolute;
  border-radius: 9px;
}
.gate-pass-studentconfirm-text {
  top: 275px;
  left: 946px;
  color: rgba(0, 0, 0, 0.898);
  width: 278px;
  height: auto;
  opacity: 0.90;
  position: absolute;
  font-size: 29.0922px;
  font-style: Regular;
  text-align: center;
  font-family: "Goblin One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.gate-pass-studentconfirm-text1 {
  top: 720px;
  left: 873px;
  color: rgba(22, 189, 68, 1);
  width: 423px;
  height: auto;
  opacity: 0.90;
  position: absolute;
  font-size: 29.09221839904785px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.5) ;
  font-style: Regular;
  text-align: center;
  font-family: Goblin One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.gate-pass-studentconfirm-text3 {
  top: 504px;
  left: 351px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  opacity: 0.90;
  position: absolute;
  font-size: 10px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.gate-pass-studentconfirm-line20 {
  top: 295px;
  right: -568px;
  width: 721px;
  height: 1px;
  position: absolute;
}
.gate-pass-studentconfirm-text5 {
  top: 780px;
  left: 947px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Goblin One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.gate-pass-studentconfirm-image1 {
  top: 223px;
  left: 253px;
  width: 333px;
  height: 263px;
  position: absolute;
}
.gate-pass-studentconfirm-spclogo3 {
  top: 546px;
  left: 259px;
  width: 309px;
  height: 303px;
  position: absolute;
}
.gate-pass-studentconfirm-text7 {
  top: 129px;
  left: 177px;
  color: rgb(255, 255, 255);
  width: 495px;
  height: auto;
  opacity: 0.90;
  position: absolute;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2.81784px 1.87856px 0px;
  font-style: Regular;
  text-align: center;
  font-family: "Goblin One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
