@import url(https://db.onlinewebfonts.com/c/56d3addcc26c615d76f21e7e540c2647?family=Carol+Gothic);

.instructor-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.instructor-instructor {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
.instructor-rectangle168 {
  top: 405px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
.instructor-rectangle169 {
  top: 714px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
.instructor-rectangle170 {
  top: 857px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
.instructor-rectangle166 {
  top: 122px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
.instructor-rectangle167 {
  top: 262px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
.instructor-rectangle155 {
  top: 0px;
  left: -1px;
  width: 282px;
  height: 1024px;
  position: absolute;
}
.instructor-group18 {
  top: 20px;
  left: -1px;
  width: 284px;
  height: 983.4418334960938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instructor-image5 {
  top: 971px;
  left: 14px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.instructor-spcnremovebgpreview14 {
  top: 0px;
  left: 11px;
  width: 46px;
  height: 45px;
  position: absolute;
}
.instructor-text {
  top: 10px;
  left: 64px;
  color: transparent;
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Medium;
  text-align: left;
  font-family: "Carol Gothic";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: linear-gradient(45deg, #ffffff, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wavingText 2s ease-in-out infinite;
}
/* 
@keyframes wavingText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.instructor-image8 {
  top: 930px;
  left: 14px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.instructor-rectangle156 {
  top: 110px;
  left: 0px;
  width: 282px;
  height: 30px;
  position: absolute;
}
.instructor-rectangle157 {
  top: 157px;
  left: 0px;
  width: 282px;
  height: 28px;
  position: absolute;
}
.instructor-rectangle158 {
  top: 202px;
  left: 0px;
  width: 282px;
  height: 29px;
  position: absolute;
}
.instructor-text02 {
  top: 58px;
  left: 46px;
  color: rgba(74, 3, 11, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.instructor-text04 {
  top: 81px;
  left: 46px;
  color: rgba(74, 3, 11, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: left;
  font-family: "Roboto";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.instructor-text06 {
  top: 208px;
  left: 73px;
  color: rgba(74, 3, 11, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: left;
  font-family: "Roboto";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text08 {
  top: 973.72314453125px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.instructor-text10 {
  top: 954.861572265625px;
  left: 34.292236328125px;
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.instructor-image6 {
  top: 952px;
  left: 14px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.instructor-text12 {
  top: 935px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 6.461538791656494px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-cba1 {
  top: 133px;
  left: 406px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.instructor-coc1 {
  top: 275px;
  left: 406px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.instructor-coe1 {
  top: 726px;
  left: 406px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.instructor-ced1 {
  top: 868px;
  left: 406px;
  width: 100px;
  height: 102px;
  position: absolute;
}
.instructor-rectangle160 {
  top: -88px;
  left: 275px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.instructor-rectangle164 {
  top: 1024.4193115234375px;
  left: 1217px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.instructor-rectangle165 {
  top: 1025.4193115234375px;
  left: 506.0211486816406px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.instructor-ccs1 {
  top: 417px;
  left: 406px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.instructor-text14 {
  top: 29px;
  left: 513px;
  color: rgba(0, 0, 0, 1);
  width: 687px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text16 {
  top: 170px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text18 {
  top: 311px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text20 {
  top: 453px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text22 {
  top: 606px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text24 {
  top: 762px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-text26 {
  top: 905px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Black;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-cas3 {
  top: 559px;
  left: 406px;
  width: 100px;
  height: 107px;
  position: absolute;
}
.instructor-text28 {
  top: 896px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instructor-rectangle163 {
  top: -89px;
  right: -10px;
  width: 156px;
  height: 306px;
  position: absolute;
}
.instructor-rectangle171 {
  top: 558px;
  left: 377px;
  width: 958px;
  height: 125px;
  position: absolute;
}
