*{
    padding: 0;
    margin: 0;
}
/*nav*/
nav{
    background-color: maroon;
    height: 50px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    
}
.mainlogo{
    width: 50px;
    height: 50px;
}
#title{
    padding-left: 20px;
    font-size: xx-large;
    color: white;
}
.row01{
    display: flex;
    align-items: center;
}
/* menu bar*/

.nav-item{
    margin-top: 15px;
    font-size: larger;
}





/* END menu bar*/

.logout{
    margin-top: 15px;
    font-size: larger;
    
}
#logout{
    text-decoration: none;
    color: black;
}
/* END nav*/

.container1{
    background-color:white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.container1-1{
    background-color: white;
    width: 270px;
    height: 100vh;
    padding: 30px;
}
.container11{
    background-color: lightgrey;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}
.container12{
    background-color: lightgray;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;;
    
}
.container1-2{
    background-color: white;
    width: 850px;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container21{
    background-color: lightgray;
    height: 100px;
    border-radius: 10px;
    padding-left: 10px;
}
.container22{
    margin-top: 50px;
    background-color: white;
    height: 530px;
    border-radius: 10px;
}

/*student details*/
ul{
    list-style-type: none;
}
.row1{
    text-align: center;

}
.row1 li{
    padding: 4px;
}
.row2{
    padding: 5px;
    padding-top: 10px;
    display: block;
}
.row2 li{
    padding: 4px;
}
.studentpp{
    height: 130px;
    width: 130px;
}
/*END student details*/

/*Time and Date*/
#spcqr{
    width: 20px;
    height: 20px;
}




/*END Time and Date*/

/* SUB TIME IN and OUT*/
.container22-1{
    background-color: lightgray;
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.container22-2{
    background-color: lightgray;
    height: 500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.row5, .row6{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
/* SUB TIME IN and OUT*/





.nav-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);
    padding: 1em;
    border: 1px solid #eee;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
ul, li {
    list-style: none;
    -webkit-padding-start: 0;
}
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /*Navigation menu*/
  .nav-item {
    padding: 0em;
    display: inline;

  }
  
  /*Dropdown menu*/
  .nav-item-dropdown {
    display: flex;
    padding-right: 50px;
    
    &:hover > .dropdown-menu {
      display: block;
      padding: -5px;
  
    }
  }
  
  .dropdown-trigger {
    position: relative;
    font-size: large;
    padding: 2px;
    cursor: pointer;
    
    &:focus + .dropdown-menu {
      display: block;
      opacity: 1;
    }
    
    
  }
  
  .dropdown-menu {
    background-color: darkgray;
    display: block;
    text-align: left;
    position: absolute;
    top: 2.5rem;
    right: 2px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; 
    width: 260px;
    border-radius: 10px;
  
  
    a {
      color: #fff;
    }
  }
  
  .dropdown-menu-item {
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }