/* Global styles */
body {
  background-color: #800000;
}

.student-info-container {
  background-color: #fff;
  border: 1px solid #233A57;
}

/* Header styles */
h1 {
  position: absolute;
  top: 9%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

@media (max-width:768px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* Student info container styles */
.student-info-container {
  position: absolute;
  top: 48%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  padding: 3px;
  margin-bottom: 3px;
}

.student-info-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.student-info-line {
  border-bottom: 1px solid #C62828;
  margin-bottom: 10px;
}

.student-info-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 150px;
  margin-top: 50px;
  margin-left: 220px;
  border: 1px solid black;
  border-radius: 10px;
}

.student-info-svg {
  width: 55%;
  height: 55%;
}

/* Scan text styles */
.scan-first-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.scan-here-text {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
}

/* SPC logo styles */
.spc-logo {
  position: absolute;
  top: 57%;
  left: 16.1%;
  width: 198px;
  height: 195px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#camera-preview {
  position: static;
  width: 40vw;
  height: 40vh;
  margin-top: 6rem;
  margin-left: 2rem;
}

#qr-code-input {
  display: none;
}

#output {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  padding: 3px;
  margin-bottom: 3px;
  background-color: #fff;
  border: 1px solid #233A57;
  overflow: scroll;
  display: none;
}

/* Output container styles */
.output-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.qr-code-result {
  font-size: 1.5rem;
  color: #333;
}

/* Additional styles for file input */
.qr-code-file-input {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
