*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
}
.leftlogo{
  height: 50px;
  width: 50px;
}
span{
  font-size: 23px;
  font-weight: bolder;
}
.admin_link a{
  color: black;
  background-color: #F1E3E3;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.logout {
  color: black;
  background-color: #F1E3E3;
  font-size: 15px;
  font-weight: bold;
}

.content{
  width: 280px;
}
.college_logo img{
  height: 150px;
  width: 150px;
}
.spclogo{
  width: 500px;
  height: 500px;
}
.admin_link a:hover, .student a:active {
  transform: scale(1.07);
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.left_content{
  width: 100%;
  height: 100%;
}
.logos{
  display: block;
  width: 100%;
  height: 100%;
}
.colleges h1{
  font-weight: 800;
}
.college_student{
  display: none;
  width: 100%;
  height: 100%;
}
.instructor{
  display: none;
  width: 100%;
  height: 100%;
}
.attendance_list{
  display: none;
  background-color: blue;
  width: 100%;
  height: 100%;
}
.colleges img{
  height: 80px;
  width: 80px;
}
.colleges a{
  font-size: 20px;
  font-weight: bold;
}