/* Main CSS Code: https://goonlinetools.com/snapshot/code/#rrrnhwip3745p373k9y4t */
/* Preview Link: https://add.pics/YTOQ5Zhttps://add.pics/Y8XsAj */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); 

.top-banner {
    background-color: #800000; 
    height: 200px; /* Increased height */
    width: 100%; 
    display: flex; /* Removed flexbox from .top-banner */
    align-items: flex-start; /* Align items at the top */
}

.logo {
    max-width: 35px; 
    margin-right: 10px; 
    margin-left: 10px; 
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;  
    font-size: 18px; 
    padding-top: 7px;  
    margin-left: 10px; /* Add margin to move text to left */
}

.text-container {
    position: static;
}

/* Style the horizontal line */
hr {
    border: none;
    background-color: white;
    height: 3px; 
    margin-top: 20px; /* Add margin to position below text and button */
}

/* Position the menu button */
#navbar-custom {
    position: absolute;
    top: 10px; 
    right: 10px; 
    height: 30px;
    width: 90px;
}

.navbar-custom .navbar-nav .nav-link {
    font-size: 14px; 
    padding: 5px 10px; 
} 