*{
    padding: 0;
    margin: 0;
}

body{
  background: linear-gradient(
    #800000 22%,
    #F1E3E3 10% 100%,
    #F1E3E3 100%
  );
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

}
.navbar{
  border-bottom: 1px solid #ffffff;
}
.nav-item{
  list-style: none;
  margin-right: -5px;
}
.tablehead tr th{
  background-color: #2773F2;
}
.instructor-info{
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
}
.instructor-details{
  width: 23%;
}
.instructor-details span{
  color: #000000;
  
}
.qr-time img{
  width: 25px;
  height: 25px;
}
.instructor-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 230px; /* Adjust the height as needed */
}

.instructor-name {
  border-radius: 10px;
  position: absolute;
  top: 10%; /* Increase the percentage to move the text further down */
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.edit-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.instructor-name img{
  border-left: 1px solid #000000;
  width: 25px;
  height: 25px;
}
.navbar li{
  list-style-type: none;
  color: #ffffffff;
}
.qr-time{
  width: 60%;
}
.list img{
  width: 15px;
  height: 15px;
}
.generate-qr{
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
}
.generate-qr img{
  width: 100px;
  height: 100px;
}
.generate-qr a{
  text-decoration: none;
  border-radius: 10px;
}
.sub{
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  text-decoration: none;
}
.shift-text-left {
  margin-left: -80px; /* Or use padding-left */
}
.padd-1 {
  padding-top: 10px; /* Or use padding-left */
}
.custom-dropdown-width {
  width: 150px; /* Adjust the pixel value as needed */
}
.verified-mark {
  margin-left: 10px; /* Add space between text and verified icon */
  color: green; /* Green color for the verified check mark */
  width: 20px; /* Set the size of the verified check mark */
  height: 20px;
}
.instructor-name-container {
  position: relative;
  z-index: 2; /* Ensure it's above the image */
  text-align: center; /* Center the content */
  /* Add other styles from .student-name here */
}